*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
}

main{
    max-width:900px;
    margin:auto;
    padding:20px;
}

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px;
}

nav ul{
    display:flex;
    list-style:none;
    gap:20px;
}

nav a{
    text-decoration:none;
    color:black;
}

section{
    margin:40px 0;
}

.skills{
    display:flex;
    gap:20px;
}

.projects{
    display:flex;
    gap:20px;
}

.skills div,
.projects div{
    border:1px solid black;
    padding:30px;
    flex:1;
}

footer{
    text-align:center;
    padding:20px;
}